webview {
  height: 0px;
  width: 100%;
  position: absolute;
}
webview.visible {
  height: 75%;
  z-index: 1;
}
.search-card {
  display: flex;
  justify-content: center;
}
.search-input {
  flex: 1
}
.search-button {
  margin-left: 1rem;
}
