.video-wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
}

video:focus {
  border: none;
  outline: none;
}

#video-controls {

  position: absolute;
  bottom: 15px;
  width: 100%;
  background-origin: border-box;

  input[type="range"] {
    -webkit-appearance: slider-vertical;
    margin-left: -25px;
    position: absolute;
    bottom: 75px;
    cursor: pointer;
  }
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }

  #left-side {
    width: 50%;
    display: inline-block;
    .control {
      margin-left: 5px;
    }
  }
  #right-side {
    display: inline-block;
    width: 50%;
    text-align: right;
    .control {
      margin-right: 5px;
    }
  }
  .control {
    display: inline-block;
  }
  #title {
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    margin-left: 20px;
    display: inline-block;
  }

  mat-icon {
    font-size: 72px;
    color: white;
    cursor: pointer;
    height: auto;
    width: auto;
  }
  mat-icon:hover, mat-icon:focus {
    color: purple;
  }
}
